
    <div>
    <p>Hi <%= token.user.name %></p>
    <p>Someone has requested a password reset for your account.</p>
    <p>If you did not request this, please ignore this email and your password will remain unchanged.</p>
    <p>To reset your password, click the link below:</p>
    <p>
    Your Password Reset Link is : <a href='http://localhost:3000/users/resetpassword/?token=<%=token.accessToken%>'>RESET PASSWORD</a>
    </p>
    <p>Thanks,</p>
   
</div>   
