<div>
    <form action="/users/updatePass" method="post">
        <input type="password" name="newPass" id="">
        <input type="password" name="confPass" id="">
        <input type="hidden" name="accessToken"  value="<%=accessToken%>">
        <input type="submit" name="" id="" value="update">
    </form>
</div>